/* CSS Variables for SASS */
$psu_color: #013D2E;
$facebook_color: #eaeaff;
$twitter_color: #eaffff;
$rss_color: #eaeaea;

$ui_bar_height: 52px;


/* jQuery Mobile style overrides */
/*
body {
	background-color: #303030;
}
.ui-bar-a {
	background: none;
	background-color: $psu_color;
	background-image: none;
}
.ui-body-c {
	background: none;
	background-color: #303030;
	background-image: none;
}
.ui-btn {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-btn-inner {
	border: none;
}
*/

/* jQuery Global Styles */
.ui-content {
	padding: 0px;
}

/* Header */
header.ui-header {
	overflow: hidden;
	height: $ui_bar_height;
	line-height: $ui_bar_height;

	h1#header-logo {
		width: 124px;
		height: 35px;
		margin: 5px auto;
		padding: 3px;
		line-height: 35px;
		background-image: url(images/medium/psu_logo.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 124px;
		font-size: 18px;

		span {
			display: none;
		}
	}
	.ui-btn {
		line-height: normal;
		top: 12px;
		box-shadow: none;
	}
	.ui-btn[data-rel=back] span.ui-icon {
		background-image: url(images/icons-18-white.png);
		box-shadow: none;
	}

	/* Images depending on screen density */
	/* Extra high - 2 times */
	@media screen and (-webkit-device-pixel-ratio: 2) {
		h1#header-logo {
			background-image: url(images/xhigh/psu_logo.png);
		}
	}
	/* High - 1.5 times */
	@media screen and (-webkit-device-pixel-ratio: 1.5) {
		h1#header-logo {
			background-image: url(images/high/psu_logo.png);
		}
	}
	/* Medium/Normal - 1.0 times */
	@media screen and (-webkit-device-pixel-ratio: 1.0) {
		h1#header-logo {
			background-image: url(images/medium/psu_logo.png);
		}
	}
	/* Low - 0.75 times */
	@media screen and (-webkit-device-pixel-ratio: 0.75) {
		h1#header-logo {
			background-image: url(images/low/psu_logo.png);
		}
	}
}

/* Inner content styles */
/* Dashboard */
#page-dashboard {
	nav#dashboard {
		width: 100%;
		margin: auto;
		padding: 15px 0px;
		overflow: hidden;

		ul#dashboard-mapps {
			margin: 0px;
			padding: 0px 1px;
			overflow: hidden;
			text-align: center;

			li {
				display: block;
				float: left;
				overflow: hidden;
				width: 33%;

				a {
					display: block;
					width: 80px;
					margin: 0px auto;
					margin-bottom: 16px;
					padding-top: 80px;
					background-repeat: no-repeat;
					background-position: 50% 0%;
					background-size: 72px;
					font-size: 13px;
					font-weight: normal;
					text-decoration: none;
					color: #000;
				}
			}
			li.dash-middle-element {
				width: 34%;
			}
			li#mapp-newsfeed a {
				background-image: url(images/medium/news.png);
			}
			li#mapp-campusmap a {
				background-image: url(images/medium/map.png);
			}
			li#mapp-feedback a {
				background-image: url(images/medium/feedback.png);
			}

			/* Styles based on orientation change */
			@media screen and (orientation:portrait) {
				li {
					width: 33%;
				}
				li.dash-middle-element {
					width: 34%;
				}
			}
			@media screen and (orientation:landscape) {
				li {
					width: 20%;
				}
				li.dash-middle-element {
					width: 20%;
				}
			}

			/* Images depending on screen density */
			/* Extra high - 2 times */
			@media screen and (-webkit-device-pixel-ratio: 2) {
				li#mapp-newsfeed a {
					background-image: url(images/xhigh/news.png);
				}
				li#mapp-campusmap a {
					background-image: url(images/xhigh/map.png);
				}
				li#mapp-feedback a {
					background-image: url(images/xhigh/feedback.png);
				}
			}
			/* High - 1.5 times */
			@media screen and (-webkit-device-pixel-ratio: 1.5) {
				li#mapp-newsfeed a {
					background-image: url(images/high/news.png);
				}
				li#mapp-campusmap a {
					background-image: url(images/high/map.png);
				}
				li#mapp-feedback a {
					background-image: url(images/high/feedback.png);
				}
			}
			/* Medium/Normal - 1.0 times */
			@media screen and (-webkit-device-pixel-ratio: 1.0) {
				li#mapp-newsfeed a {
					background-image: url(images/medium/news.png);
				}
				li#mapp-campusmap a {
					background-image: url(images/medium/map.png);
				}
				li#mapp-feedback a {
					background-image: url(images/medium/feedback.png);
				}
			}
			/* Low - 0.75 times */
			@media screen and (-webkit-device-pixel-ratio: 0.75) {
				li#mapp-newsfeed a {
					background-image: url(images/low/news.png);
				}
				li#mapp-campusmap a {
					background-image: url(images/low/map.png);
				}
				li#mapp-feedback a {
					background-image: url(images/low/feedback.png);
				}
			}
		}
	}
}

/* Newsfeed */
#page-newsfeed {
	ul#newsfeed {
		padding: 0px;
		margin: 0px;
		list-style: none;
		color: #000;

		li.newsfeed-item {
			padding: 5px;
			overflow: hidden;
			list-style: none;
			border-bottom: 1px solid #ccc;

			div.feed-icon {
				display: block;
				float: left;
				width: 50px;
				height: 50px;
				margin-right: 5px;
				background-size: 50px;
			}
			header {
				overflow: hidden;
				line-height: 16px;

				h1.feed-title {
					display: inline;
					float: left;
					margin: 0px;
					font-size: 12px;
					font-weight: bold;
				}
				time {
					float: right;
					font-size: 10px;
					color: #666;
				}
			}
			p {
				margin: 0px;
				margin-top: 2px;
				font-size: 12px;
			}
		}
		li.facebook {
			background-color: $facebook_color;

			div.feed-icon {
				background-image: url(images/medium/facebook_icon.png);
			}
		}
		li.twitter {
			background-color: $twitter_color;

			div.feed-icon {
				background-image: url(images/medium/twitter_icon.png);
			}
		}
		li.rss {
			background-color: $rss_color;

			div.feed-icon {
				background-image: url(images/medium/rss_icon.png);
			}
		}
	}
}
/* Campus Map */
#page-campusmap div#content-container {
	width: 100%;
	position: absolute;
	top: 51px;
	bottom: 0px;

	div#campus-google-map {
		width: 100%;
		height: 100%;
	}
}

/* Feedback Form */
#page-feedback {
	fieldset {
		padding-top: 4px;

		label, div.input-container {
			margin: 4px 8px;
		}
	}
	input, textarea, select {
		width: 100%;

		/* Use CSS3 box-sizing to correctly set a full width on these elements */
		box-sizing: border-box; /* css3 rec */
		-moz-box-sizing: border-box; /* ff2 */
		-ms-box-sizing: border-box; /* ie8 */
		-webkit-box-sizing: border-box; /* safari3 */
		-khtml-box-sizing: border-box; /* konqueror */

		border: 1px solid $psu_color;
	}
	label {
		font-size: 16px;
		font-weight: normal;
		color: #045340;
	}
	textarea {
		height: 72px;
	}
	.ui-btn {
		margin: 0px;
		box-shadow: none;

		input {
			margin: auto;
		}
	}
	.ui-select .ui-btn-text {
		text-align: left;
	}
}

/* Footer */
footer.ui-footer {
	height: $ui_bar_height;
	line-height: $ui_bar_height;
}
a.dashboard-ui-bar-button {
	width: 100%;
	height: 48px;
	padding: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 48px;
	border: 0px;

	span {
		border: 0px none;
	}
}
a#footer-info-button, a#hidden-info-button {
	display: block;
	margin: 2px auto;
	box-shadow: none;
}
a.dashboard-ui-bar-button.info-button-open {
	background-image: url(images/medium/ic_menu_arrow_up.png);
}
a.dashboard-ui-bar-button.info-button-close {
	background-image: url(images/medium/ic_menu_arrow_down.png);
}

/* Images depending on screen density */
/* Extra high - 2 times */
@media screen and (-webkit-device-pixel-ratio: 2) {
	a.dashboard-ui-bar-button.info-button-open {
		background-image: url(images/xhigh/ic_menu_arrow_up.png);
	}
	a.dashboard-ui-bar-button.info-button-close {
		background-image: url(images/xhigh/ic_menu_arrow_down.png);
	}
}
/* High - 1.5 times */
@media screen and (-webkit-device-pixel-ratio: 1.5) {
	a.dashboard-ui-bar-button.info-button-open {
		background-image: url(images/high/ic_menu_arrow_up.png);
	}
	a.dashboard-ui-bar-button.info-button-close {
		background-image: url(images/high/ic_menu_arrow_down.png);
	}
}
/* Medium/Normal - 1.0 times */
@media screen and (-webkit-device-pixel-ratio: 1.0) {
	a.dashboard-ui-bar-button.info-button-open {
		background-image: url(images/medium/ic_menu_arrow_up.png);
	}
	a.dashboard-ui-bar-button.info-button-close {
		background-image: url(images/medium/ic_menu_arrow_down.png);
	}
}
/* Low - 0.75 times */
@media screen and (-webkit-device-pixel-ratio: 0.75) {
	a.dashboard-ui-bar-button.info-button-open {
		background-image: url(images/low/ic_menu_arrow_up.png);
	}
	a.dashboard-ui-bar-button.info-button-close {
		background-image: url(images/low/ic_menu_arrow_down.png);
	}
}

/* Slide Up Info */
div#hidden-info-div {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 10000;
	background: #fff;
}

/* Styles based on the device's OS */
html.android header {
	.ui-btn[data-rel=back] {
		display: none;
	}
	h1#header-logo {
		float: left;
		margin-left: 4px;
		text-align: left;
	}
}
html.android .m-app header h1#header-logo {
	width: auto;
	background: none;

	span {
		display: inline;
	}
}
html.android .m-app header h1#header-logo.back-button {
	padding-left: 20px;
	cursor: pointer;

	span.back-image {
		width: 18px;
		height: 35px;
		float: left;
		margin-left: -20px;
		background-image: url(images/icons-18-white.png);
		background-repeat: no-repeat;
		background-position: -144px 50%;
	}
}

