/* CSS Variables for SASS */
$psu_color: #013D2E;
$error_bg_color: #ffe6e6;
$success_bg_color: #e6ffe6;
$facebook_color: #385c99;
$twitter_color: #6bb8fe;
$rss_color: #ff9111;

$ui_bar_height: 52px;


/* jQuery Mobile style overrides */
/* jQuery Mobile Global Styles */
.ui-body-c, .ui-dialog.ui-overlay-c {
	background-color: #eaeaea;
	background-image: url(images/medium/noise.png);
	background-size: 75px;
}
/* Images depending on screen density */
/* Extra high - 2 times */
@media screen and (-webkit-device-pixel-ratio: 2) {
	.ui-body-c, .ui-dialog.ui-overlay-c {
		background-image: url(images/xhigh/noise.png);
	}
}
/* High - 1.5 times */
@media screen and (-webkit-device-pixel-ratio: 1.5) {
	.ui-body-c, .ui-dialog.ui-overlay-c {
		background-image: url(images/high/noise.png);
	}
}
/* Medium/Normal - 1.0 times */
@media screen and (-webkit-device-pixel-ratio: 1.0) {
	.ui-body-c, .ui-dialog.ui-overlay-c {
		background-image: url(images/medium/noise.png);
	}
}
/* Low - 0.75 times */
@media screen and (-webkit-device-pixel-ratio: 0.75) {
	.ui-body-c, .ui-dialog.ui-overlay-c {
		background-image: url(images/low/noise.png);
	}
}
header.ui-header, footer.ui-footer {
	border: 0px none;
}
.ui-header .ui-btn-icon-left .ui-btn-inner, .ui-footer .ui-btn-icon-left .ui-btn-inner, .ui-mini .ui-btn-icon-left .ui-btn-inner {
	padding-left: 27px;
}
.ui-btn-icon-left .ui-btn-inner {
	padding-left: 33px;
}
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
	padding: .4em 8px .4em;
}
.ui-header .ui-btn-left, .ui-footer .ui-btn-left {
	left: 10px;
}

/* Global Styles */
.vertically-centered {
	position: absolute;
	width: 100%;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
a, a:link {
	text-decoration: none;
}

/* Header */
header.ui-header {
	overflow: hidden;
	height: $ui_bar_height;
	line-height: $ui_bar_height;

	h1#header-logo {
		width: 124px;
		height: 35px;
		margin: 5px auto;
		padding: 3px;
		line-height: 35px;
		background-image: url(images/medium/psu_logo.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 124px;
		font-size: 18px;

		span {
			display: none;
		}
	}
	.ui-btn {
		line-height: normal;
		top: 12px;
		box-shadow: none;
	}
	.ui-btn[data-rel=back] span.ui-icon {
		background-size: 776px 18px;
		box-shadow: none;
	}

	/* Images depending on screen density */
	/* Extra high - 2 times */
	@media screen and (-webkit-device-pixel-ratio: 2) {
		h1#header-logo {
			background-image: url(images/xhigh/psu_logo.png);
		}
		.ui-btn[data-rel=back] span.ui-icon {
			background-image: url(images/icons-36-white.png) !important;
		}
	}
	/* High - 1.5 times */
	@media screen and (-webkit-device-pixel-ratio: 1.5) {
		h1#header-logo {
			background-image: url(images/high/psu_logo.png);
		}
		.ui-btn[data-rel=back] span.ui-icon {
			background-image: url(images/icons-36-white.png) !important;
		}
	}
	/* Medium/Normal - 1.0 times */
	@media screen and (-webkit-device-pixel-ratio: 1.0) {
		h1#header-logo {
			background-image: url(images/medium/psu_logo.png);
		}
		.ui-btn[data-rel=back] span.ui-icon {
			background-image: url(images/icons-18-white.png) !important;
		}
	}
	/* Low - 0.75 times */
	@media screen and (-webkit-device-pixel-ratio: 0.75) {
		h1#header-logo {
			background-image: url(images/low/psu_logo.png);
		}
	}
}

/* Footer */
footer.ui-footer {
	height: $ui_bar_height;
	line-height: $ui_bar_height;
}

/* Inner content styles */
/* Dashboard */
#page-dashboard {
	.ui-content {
		padding: 0px;
	}
	nav#dashboard {
		width: 100%;
		margin: auto;
		padding: 15px 0px;
		overflow: hidden;

		ul#dashboard-mapps {
			margin: 0px;
			padding: 0px 1px;
			overflow: hidden;
			text-align: center;

			li {
				display: block;
				float: left;
				overflow: hidden;
				width: 33%;
				padding: 8px 0px;

				a {
					display: block;
					margin-bottom: 16px;
					font-size: 13px;
					font-weight: normal;
					text-decoration: none;
					color: #000;
				}
				i.psu-icon {
					display: block;
					margin: 0px auto;
					margin-bottom: 10px;
					font-style: normal;
					font-weight: normal;
					font-smoothing: always;
					color: #444;
				}
				i.psu-icon:hover {
					color: #000;
				}
			}
			li.dash-middle-element {
				width: 34%;
			}

			/* Styles based on orientation change */
			@media screen and (orientation:portrait) {
				li {
					width: 33%;
				}
				li.dash-middle-element {
					width: 34%;
				}
			}
			@media screen and (orientation:landscape) {
				li {
					width: 20%;
				}
				li.dash-middle-element {
					width: 20%;
				}
			}
		}
	}
	a.dashboard-ui-bar-button {
		width: 100%;
		height: 48px;
		padding: 0px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 48px;
		border: 0px;

		span {
			border: 0px none;
		}
	}
	/* Slide Up Info */
	div#hidden-info-div {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0px;
		z-index: 10000;
		background: #fff;

		div.info-panel {
			margin: 10px auto;
			text-align: center;
			letter-spacing: 1px;

			.big-color-logo {
				width: 160px;
				height: 45px;
				margin: 15px auto;
				background-image: url(images/medium/psu_logo_large_color.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 160px 45px;
			}
			h1.app-title {
				margin: 5px 0px;
				font-size: 20px;
			}
			h2, h3, h4, h5 {
				font-weight: normal;
			}
			h2.app-version {
				margin: 4px 0px;
				font-size: 17px;
			}
			h3.app-build {
				margin: 4px 0px;
				font-size: 9px;
				letter-spacing: 0px;
				color: #999;
			}
			h4.copyright {
				margin: 5px 0px;
				margin-top: 15px;
				font-size: 10px;

				a, a:link {
					text-decoration: none;
					color: #300;
				}
			}
			ul.app-frameworks {
				margin: 5px 0px;
				padding: 0px;
				list-style: none;
				font-size: 10px;

				li {
					display: block;
				}
				li#phonegap {
					display: none;
				}
			}

			/* Images depending on screen density */
			/* Extra high - 2 times */
			@media screen and (-webkit-device-pixel-ratio: 2) {
				.big-color-logo {
					background-image: url(images/xhigh/psu_logo_large_color.png);
				}
			}
			/* High - 1.5 times */
			@media screen and (-webkit-device-pixel-ratio: 1.5) {
				.big-color-logo {
					background-image: url(images/high/psu_logo_large_color.png);
				}
			}
			/* Medium/Normal - 1.0 times */
			@media screen and (-webkit-device-pixel-ratio: 1.0) {
				.big-color-logo {
					background-image: url(images/medium/psu_logo_large_color.png);
				}
			}
			/* Low - 0.75 times */
			@media screen and (-webkit-device-pixel-ratio: 0.75) {
				.big-color-logo {
					background-image: url(images/low/psu_logo_large_color.png);
				}
			}
		}
	}

	a#footer-info-button, a#hidden-info-button {
		display: block;
		margin: 2px auto;
		top: 0px;
		box-shadow: none;
	}
	a.dashboard-ui-bar-button.info-button-open {
		background-image: url(images/medium/ic_menu_arrow_up.png);
	}
	a.dashboard-ui-bar-button.info-button-close {
		background-image: url(images/medium/ic_menu_arrow_down.png);
	}

	/* Images depending on screen density */
	/* Extra high - 2 times */
	@media screen and (-webkit-device-pixel-ratio: 2) {
		a.dashboard-ui-bar-button.info-button-open {
			background-image: url(images/xhigh/ic_menu_arrow_up.png);
		}
		a.dashboard-ui-bar-button.info-button-close {
			background-image: url(images/xhigh/ic_menu_arrow_down.png);
		}
	}
	/* High - 1.5 times */
	@media screen and (-webkit-device-pixel-ratio: 1.5) {
		a.dashboard-ui-bar-button.info-button-open {
			background-image: url(images/high/ic_menu_arrow_up.png);
		}
		a.dashboard-ui-bar-button.info-button-close {
			background-image: url(images/high/ic_menu_arrow_down.png);
		}
	}
	/* Medium/Normal - 1.0 times */
	@media screen and (-webkit-device-pixel-ratio: 1.0) {
		a.dashboard-ui-bar-button.info-button-open {
			background-image: url(images/medium/ic_menu_arrow_up.png);
		}
		a.dashboard-ui-bar-button.info-button-close {
			background-image: url(images/medium/ic_menu_arrow_down.png);
		}
	}
	/* Low - 0.75 times */
	@media screen and (-webkit-device-pixel-ratio: 0.75) {
		a.dashboard-ui-bar-button.info-button-open {
			background-image: url(images/low/ic_menu_arrow_up.png);
		}
		a.dashboard-ui-bar-button.info-button-close {
			background-image: url(images/low/ic_menu_arrow_down.png);
		}
	}
}

/* Newsfeed */
#page-newsfeed {
	ul#newsfeed {

		li.newsfeed-item {
			overflow: hidden;

			div.feed-icon {
				display: block;
				float: left;
				width: 46px;
				height: 46px;
				margin-left: -5px;
				margin-right: 5px;

				.psu-icon.large {
					width: 46px;
					height: 46px;
					margin-top: 0px;
					text-shadow: none;
				}
				.icon-facebook-item {
					color: $facebook_color;
				}
				.icon-twitter-item {
					color: $twitter_color;
				}
				.icon-news-item {
					color: $rss_color;
				}
			}
			h1 {
				margin-top: 0px;
				font-size: 14px;
			}
			.ui-li-aside {
				width: 90px;
				margin-top: 0px;
			}
			p {
				margin-top: 3px;
				margin-bottom: 0px;
			}
		}
	}
}

/* Campus Map */
#page-campusmap {
	.ui-content {
		padding: 0px;
	}
	div#content-container {
		width: 100%;
		position: absolute;
		top: 51px;
		bottom: 0px;

		div#campus-google-map {
			width: 100%;
			height: 100%;
		}
	}
}

/* Feedback Form */
#page-feedback {
	.ui-content {
		padding: 5px;
	}
	fieldset {
		padding-top: 4px;

		label, div.input-container {
			margin: 4px 8px;
		}
	}
	input, textarea, select {
		width: 100%;

		/* Use CSS3 box-sizing to correctly set a full width on these elements */
		box-sizing: border-box; /* css3 rec */
		-moz-box-sizing: border-box; /* ff2 */
		-ms-box-sizing: border-box; /* ie8 */
		-webkit-box-sizing: border-box; /* safari3 */
		-khtml-box-sizing: border-box; /* konqueror */
	}
	label {
		font-size: 16px;
		font-weight: normal;
		color: #045340;
	}
	textarea {
		height: 72px;
	}
	.ui-btn {
		margin: 0px;
		box-shadow: none;

		input {
			margin: auto;
		}
	}
	.ui-select .ui-btn-text {
		text-align: left;
	}
}

/* Feedback form results */
#page-feedback-results {
	.ui-content {
		padding: 0px;
	}
	div.form-response {
		margin: 15px;
		padding: 10px;
		text-align: center;

		header {
			h1 {
				margin: 0px auto;
				margin-bottom: 20px;
				font-size: 26px;
			}
		}
		p {
			margin: 0px auto;
		}
		a[data-role=button] {
			margin-top: 25px;
		}
	}
	div.error {
		background-color: $error_bg_color;
	}
	div.success {
		background-color: $success_bg_color;
	}
}

/* Clusters */
#page-clusters {
	li.cluster {
		h1 {
			margin: 0px;
		}
		h2 {
			margin-top: 2px;
			font-size: 14px;
			font-weight: normal;
		}
		p {
			margin-bottom: 0px;
		}
	}
}

/* Directory */
#page-directory {
	h1 {
		margin-top: 0px;
	}
}

/* Directory Results */
#page-directory-results {
	h1, h2 {
		margin: 0px;
	}
	p {
		margin-top: 6px;
		margin-bottom: 0px;
	}
}

/* Directory Details */
#page-directory-details {
	h1 {
		margin: 0px;
	}
	h2 {
		margin-top: 8px;
		font-size: 16px;
		font-weight: normal;
	}
	.ui-btn {
		margin-left: 0px;
		margin-right: 0px;
	}
}

/* Events */
#page-events {
	li.event {
		h1 {
			margin: 0px;
		}
		h2 {
			margin-top: 2px;
			font-size: 14px;
			font-weight: normal;
		}
		p {
			margin-bottom: 0px;
		}
	}
}

/* Events Details */
#page-events-details {
	h1 {
		margin: 0px;
	}
	h2 {
		margin-top: 8px;
		font-size: 16px;
		font-weight: normal;
	}
	h3 {
		margin-top: 6px;
		font-size: 14px;
		font-weight: normal;
	}
}


/* Styles based on the device's OS */
html.android header {
	.ui-btn[data-rel=back] {
		display: none;
	}
	h1#header-logo {
		float: left;
		margin-left: 4px;
		text-align: left;
	}
}
html.android .m-app header h1#header-logo {
	width: auto;
	background: none;

	span {
		display: inline;
	}
}
html.android .m-app header h1#header-logo.back-button {
	padding-left: 20px;
	cursor: pointer;

	span.back-image {
		width: 18px;
		height: 35px;
		float: left;
		margin-left: -20px;
		background-image: url(images/icons-18-white.png);
		background-repeat: no-repeat;
		background-position: -144px 50%;
	}
}

