/* CSS Variables for SASS */
/* jQuery Mobile style overrides */
/*
body {
	background-color: #303030;
}
.ui-bar-a {
	background: none;
	background-color: $psu_color;
	background-image: none;
}
.ui-body-c {
	background: none;
	background-color: #303030;
	background-image: none;
}
.ui-btn {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.ui-btn-inner {
	border: none;
}
*/
/* jQuery Global Styles */
.ui-content {
  padding: 0px; }

/* Header */
header.ui-header {
  overflow: hidden;
  height: 52px;
  line-height: 52px;
  /* Images depending on screen density */
  /* Extra high - 2 times */
  /* High - 1.5 times */
  /* Medium/Normal - 1.0 times */
  /* Low - 0.75 times */ }
  header.ui-header h1#header-logo {
    width: 124px;
    height: 35px;
    margin: 5px auto;
    padding: 3px;
    background-image: url(images/medium/psu_logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 124px; }
    header.ui-header h1#header-logo span {
      display: none; }
  header.ui-header .ui-btn {
    line-height: normal;
    top: 12px;
    box-shadow: none; }
  header.ui-header .ui-btn[data-rel=back] span.ui-icon {
    background-image: url(images/icons-18-white.png);
    box-shadow: none; }
  @media screen and (-webkit-device-pixel-ratio: 2) {
    header.ui-header h1#header-logo {
      background-image: url(images/xhigh/psu_logo.png); } }
  @media screen and (-webkit-device-pixel-ratio: 1.5) {
    header.ui-header h1#header-logo {
      background-image: url(images/high/psu_logo.png); } }
  @media screen and (-webkit-device-pixel-ratio: 1.0) {
    header.ui-header h1#header-logo {
      background-image: url(images/medium/psu_logo.png); } }
  @media screen and (-webkit-device-pixel-ratio: 0.75) {
    header.ui-header h1#header-logo {
      background-image: url(images/low/psu_logo.png); } }

/* Inner content styles */
/* Dashboard */
#page-dashboard nav#dashboard {
  width: 100%;
  margin: auto;
  padding: 15px 0px;
  overflow: hidden; }
  #page-dashboard nav#dashboard ul#dashboard-mapps {
    margin: 0px;
    padding: 0px 1px;
    overflow: hidden;
    text-align: center;
    /* Styles based on orientation change */
    /* Images depending on screen density */
    /* Extra high - 2 times */
    /* High - 1.5 times */
    /* Medium/Normal - 1.0 times */
    /* Low - 0.75 times */ }
    #page-dashboard nav#dashboard ul#dashboard-mapps li {
      display: block;
      float: left;
      overflow: hidden;
      width: 33%; }
      #page-dashboard nav#dashboard ul#dashboard-mapps li a {
        display: block;
        width: 80px;
        margin: 0px auto;
        margin-bottom: 16px;
        padding-top: 80px;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 72px;
        font-size: 13px;
        font-weight: normal;
        text-decoration: none;
        color: #000; }
    #page-dashboard nav#dashboard ul#dashboard-mapps li.dash-middle-element {
      width: 34%; }
    #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-newsfeed a {
      background-image: url(images/medium/news.png); }
    #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-campusmap a {
      background-image: url(images/medium/map.png); }
    #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-feedback a {
      background-image: url(images/medium/feedback.png); }
    @media screen and (orientation:portrait) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li {
        width: 33%; }
      #page-dashboard nav#dashboard ul#dashboard-mapps li.dash-middle-element {
        width: 34%; } }
    @media screen and (orientation:landscape) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li {
        width: 20%; }
      #page-dashboard nav#dashboard ul#dashboard-mapps li.dash-middle-element {
        width: 20%; } }
    @media screen and (-webkit-device-pixel-ratio: 2) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-newsfeed a {
        background-image: url(images/xhigh/news.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-campusmap a {
        background-image: url(images/xhigh/map.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-feedback a {
        background-image: url(images/xhigh/feedback.png); } }
    @media screen and (-webkit-device-pixel-ratio: 1.5) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-newsfeed a {
        background-image: url(images/high/news.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-campusmap a {
        background-image: url(images/high/map.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-feedback a {
        background-image: url(images/high/feedback.png); } }
    @media screen and (-webkit-device-pixel-ratio: 1.0) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-newsfeed a {
        background-image: url(images/medium/news.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-campusmap a {
        background-image: url(images/medium/map.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-feedback a {
        background-image: url(images/medium/feedback.png); } }
    @media screen and (-webkit-device-pixel-ratio: 0.75) {
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-newsfeed a {
        background-image: url(images/low/news.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-campusmap a {
        background-image: url(images/low/map.png); }
      #page-dashboard nav#dashboard ul#dashboard-mapps li#mapp-feedback a {
        background-image: url(images/low/feedback.png); } }

/* Newsfeed */
#page-newsfeed ul#newsfeed {
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: #000; }
  #page-newsfeed ul#newsfeed li.newsfeed-item {
    padding: 5px;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px solid #ccc; }
    #page-newsfeed ul#newsfeed li.newsfeed-item div.feed-icon {
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 5px;
      background-size: 50px; }
    #page-newsfeed ul#newsfeed li.newsfeed-item header {
      overflow: hidden;
      line-height: 16px; }
      #page-newsfeed ul#newsfeed li.newsfeed-item header h1.feed-title {
        display: inline;
        float: left;
        margin: 0px;
        font-size: 12px;
        font-weight: bold; }
      #page-newsfeed ul#newsfeed li.newsfeed-item header time {
        float: right;
        font-size: 10px;
        color: #666; }
    #page-newsfeed ul#newsfeed li.newsfeed-item p {
      margin: 0px;
      margin-top: 2px;
      font-size: 12px; }
  #page-newsfeed ul#newsfeed li.facebook {
    background-color: #eaeaff; }
    #page-newsfeed ul#newsfeed li.facebook div.feed-icon {
      background-image: url(images/medium/facebook_icon.png); }
  #page-newsfeed ul#newsfeed li.twitter {
    background-color: #eaffff; }
    #page-newsfeed ul#newsfeed li.twitter div.feed-icon {
      background-image: url(images/medium/twitter_icon.png); }
  #page-newsfeed ul#newsfeed li.rss {
    background-color: #eaeaea; }
    #page-newsfeed ul#newsfeed li.rss div.feed-icon {
      background-image: url(images/medium/rss_icon.png); }

/* Campus Map */
#page-campusmap div#content-container {
  width: 100%;
  position: absolute;
  top: 51px;
  bottom: 0px; }
  #page-campusmap div#content-container div#campus-google-map {
    width: 100%;
    height: 100%; }

/* Feedback Form */
#page-feedback fieldset {
  padding-top: 4px; }
  #page-feedback fieldset label, #page-feedback fieldset div.input-container {
    margin: 4px 8px; }
#page-feedback input, #page-feedback textarea, #page-feedback select {
  width: 96%;
  border: 1px solid #013d2e; }
#page-feedback label {
  font-size: 16px;
  font-weight: normal;
  color: #045340; }
#page-feedback textarea {
  height: 72px; }
#page-feedback .ui-btn {
  margin: 0px;
  box-shadow: none; }
  #page-feedback .ui-btn input {
    margin: auto; }
#page-feedback .ui-select .ui-btn-text {
  text-align: left; }

/* Footer */
footer.ui-footer {
  height: 52px;
  line-height: 52px; }

a.dashboard-ui-bar-button {
  width: 100%;
  height: 48px;
  padding: 0px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 48px;
  border: 0px; }
  a.dashboard-ui-bar-button span {
    border: 0px none; }

a#footer-info-button, a#hidden-info-button {
  display: block;
  margin: 2px auto;
  box-shadow: none; }

a.dashboard-ui-bar-button.info-button-open {
  background-image: url(images/medium/ic_menu_arrow_up.png); }

a.dashboard-ui-bar-button.info-button-close {
  background-image: url(images/medium/ic_menu_arrow_down.png); }

/* Images depending on screen density */
/* Extra high - 2 times */
@media screen and (-webkit-device-pixel-ratio: 2) {
  a.dashboard-ui-bar-button.info-button-open {
    background-image: url(images/xhigh/ic_menu_arrow_up.png); }

  a.dashboard-ui-bar-button.info-button-close {
    background-image: url(images/xhigh/ic_menu_arrow_down.png); } }
/* High - 1.5 times */
@media screen and (-webkit-device-pixel-ratio: 1.5) {
  a.dashboard-ui-bar-button.info-button-open {
    background-image: url(images/high/ic_menu_arrow_up.png); }

  a.dashboard-ui-bar-button.info-button-close {
    background-image: url(images/high/ic_menu_arrow_down.png); } }
/* Medium/Normal - 1.0 times */
@media screen and (-webkit-device-pixel-ratio: 1.0) {
  a.dashboard-ui-bar-button.info-button-open {
    background-image: url(images/medium/ic_menu_arrow_up.png); }

  a.dashboard-ui-bar-button.info-button-close {
    background-image: url(images/medium/ic_menu_arrow_down.png); } }
/* Low - 0.75 times */
@media screen and (-webkit-device-pixel-ratio: 0.75) {
  a.dashboard-ui-bar-button.info-button-open {
    background-image: url(images/low/ic_menu_arrow_up.png); }

  a.dashboard-ui-bar-button.info-button-close {
    background-image: url(images/low/ic_menu_arrow_down.png); } }
/* Slide Up Info */
div#hidden-info-div {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 10000;
  background: #fff; }

/* Styles based on the device's OS */
html.android header h1#header-logo {
  float: left;
  margin-left: 4px; }
